extends layout

block content
  
  div(class="header")
    a(href="/login") login/register 
    div
      img(src="../pics/todo-icon.jpg", alt="" class="logo")
      h1= title

  
  br
  div(class="input-container")
    label(for="todoItem") Enter a task - &nbsp
    input(type="text" name="todoItem" id="iteminput" focus)
    p Press enter
  
  div(class="global-list")
    div(class="cont-high")
      p(class="urgent-high") high
      div(class="color-high")
        each val in toList
          if (val["priority"] == 1)
            div(class="container-high drag" draggable="true")
              p(class="todo-item")= val['task'] 
              p(class="del-item" id=`${val.id}` onclick=`removeItem(event,this)`) x
      div
        div(class='drop-box')
              p(class="todo-item dummy-item") Drag item here
           

    div(class="cont-med")
      p(class="urgent-medium") medium
      div(class="color-med")
        each val in toList
          if (val['priority'] == 2)
            div(class='container-medium drag' draggable="true")
              p(class="todo-item")= val['task'] 
              p(class="del-item" id=`${val.id}` onclick=`removeItem(event,this)`) x
      div
        div(class='drop-box')
              p(class="todo-item dummy-item") Drag item here
            

    div(class="cont-low")
      p(class="urgent-low") low
      div(class="color-low")
        each val in toList
          if (val['priority'] == 3)
            div(class='container-low drag' draggable="true")
              p(class="todo-item")= val['task'] 
              p(class="del-item" id=`${val.id}` onclick=`removeItem(event,this)`) x
      div
        div(class=' drop-box')
              p(class="todo-item dummy-item") Drag item here
            
